body{
	margin: 0;
	font-family: Helvectia, Arial;
	font-size: 15px;
	line-height: 30px;
}

header{
	background-color: orange;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1,h2{
	font-family: 'Alfa Slab One', cursive;
}

header h1{
	color: white;
	font-size: 50px;
}

header img{
	border-radius: 300px;
	width: 300px;
	height: 300px;
	object-fit: cover;
	border: 20px solid white;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 20px 0px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	color: orange;
	margin: 40px 0 10px;
}

a{
	color: orange;
}

a:hover{
	color: white;
	background-color: orange;
}

footer{
	background-color: orange;
	color: white;
	text-align: center;	
	padding: 50px;
	margin-top: 50px ;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	 background-color: white;
	 color: orange;
}

p.caption{
	color: grey;
	font-style: italic;
	margin-top: 0;
}